{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}



{% block title %}Логин{% endblock %}

{% block page_content %}
<div class="col-md-4"></div>
<div class="col-md-4">
    <div class="page-header">
        <h1>Логин</h1>
    </div>
    {{ wtf.quick_form(form) }}
    <br>
    <p>Забыли пароль? <a href="{{ url_for('auth.password_reset_request') }}">Нажмите здесь, чтобы cбросить пароль</a>.</p>
    <p>Новый пользователь <a href="{{ url_for('auth.register') }}">Нажмите здесь, чтобы зарегистрироваться</a>.</p>
</div>
<div class="col-md-4"></div>
{% endblock %}