{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}
{{comics}}
{% endblock %}

{% block head %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block page_content %}
  {% if comics == None %}
    <div class="col-sm-10"></div>
    <div class="col-sm-2">
      <aside class="panel panel-default">
        <div class="panel-heading text-center">Топ</div>
        <div class="panel-body">
          <a href="{{ url_for('main.index', comics='Семь смертных грехов') }}">Семь смертных грехов</a></li>
        </div>
      </aside>
    </div>
  {% elif ch == None %} 

  <!-- <table class="table table-bordered table-hover"> 
    {% for _ in range(0, 10) %}
    <tr>
      <td>
        <a class="btn btn-md" href="{{ url_for('main.index', comics='Семь смертных грехов', ch=_) }}">Глава {{_}} : {{name_chapter[_]}}</a>  
      </td>
    </tr>
    {% endfor %}
  </table> -->
<!-- 
  <ul class="nav nav-pills">
    <li class="dropdown">
      <a href="#" data-toggle="dropdown" class="dropdown-toggle">
        Главы 
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        {% for _ in range(0, name_chapter|length) %}
          <li><a href="{{ url_for('main.index', manga='Семь смертных грехов', ch=_) }}">Глава {{_}} : {{name_chapter[_]}}</a></li>
          <li class="divider"></li>
        {% endfor %}
      </ul>
    </li>
  </ul> -->

  <div class="btn-group">
    <a class="btn btn-lg dropdown-toggle" data-toggle="dropdown" href="#">Главы<span class="caret"></span></a>
    <ul class="dropdown-menu">
      {% for _ in range(0, name_chapter|length) %}
        <li><a href="{{ url_for('main.index', comics='Семь смертных грехов', ch=_) }}">Глава {{_}} : {{name_chapter[_]}}</a></li>
        <li class="divider"></li>      
      {% endfor %}
    </ul>
  </div>
  
  {% else %}
  <div class="text-center">
    {{macros.pagination_widget(pagination, 'main.index', comics, ch )}}
  </div>
  {% for i in images %}
    <div>
      <a href="{{ url_for('main.index', comics=comics, ch=ch, page=pagination.next_num) }}"><img src="{{ url_for('static', filename=i.path) }}" title="{{i.path}}" class="img-responsive center-block img-rounded"></a>
    </div>

    <div>
      {% if current_user.can(Permission.WRITE) %}
        {{wtf.quick_form(comment_form)}}
      {% endif %}
    </div>
    <ul>
      {% for comment in comments %}
      <li>
        <div>
          {{ moment(comment.timestamp).fromNow()}}
        </div>
        <div>
          <a href=" {{url_for('.user', username=comment.author.username) }}">
            {{comment.author.username}}
          </a>
        </div>
        <div>
          {{comment.body}}
        </div>
      </li>
      {% endfor %}
    </ul>
  {% endfor %}


  <div class="container pb-cmnt-container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-info">
                <div class="panel-body">
                    <form class="form-inline" method="POST">
                      {{comment_form.body()}}
                      {{comment_form.submit()}}
                    <textarea placeholder="Write your comment here!" class="pb-cmnt-textarea"></textarea>
                    <form class="form-inline">
                        <div class="btn-group">
                          <button class="btn" type="button"><span class="fa fa-picture-o fa-lg"></span></button>
                            <button class="btn" type="button"><span class="fa fa-video-camera fa-lg"></span></button>
                            <button class="btn" type="button"><span class="fa fa-microphone fa-lg"></span></button>
                            <button class="btn" type="button"><span class="fa fa-music fa-lg"></span></button>
                        </div>
                        <button class="btn btn-primary pull-right" type="button">Share</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>
  {% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown()}}
{% endblock %}
