{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}
{{comics}}
{% endblock %}

{% block head %}
{{super()}}
<link rel="stylesheet" href=" {{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block page_content %}
  {% if comics == None %}
    <div class="col-sm-10"></div>
    <div class="col-sm-2">
      <aside class="panel panel-default">
        <div class="panel-heading text-center">Топ</div>
        <div class="panel-body">
          <a href="{{ url_for('main.index', comics='Семь смертных грехов') }}">Семь смертных грехов</a></li>
        </div>
      </aside>
    </div>
{% elif ch == None %}
  {% for _ in range(0, 10) %}
  <ul>
    <li><a href="{{ url_for('main.index', comics='Семь смертных грехов', ch=_) }}">Глава {{_}} : {{images.chapter_name}}</a></li>
  </ul>
  {% endfor %}
{% else %}
<div class="text-center">
    {{macros.pagination_widget(pagination, 'main.index', comics, ch )}}
</div>
{% for i in images %}
    <dir>
        <a href="{{ url_for('main.index', comics=comics, ch=ch  , page=pagination.next_num) }}"><img src="{{ url_for('static', filename=i.path) }}" class="img-responsive center-block img-rounded"></a>
        <!-- <a href="{{ url_for('main.index', comics=comics, page=pagination.next_num) }}"><img src="{{ url_for('static', filename=i.path) }}" class="img-responsive center-block img-rounded"></a> -->
    </dir>
{% endfor %}
{% endif %}
{% endblock %}


