{% extends "base.html" %}
{% import "_macros.html" as macros %}


{% block page_content %}
    <div class="text-center">
        {{macros.pagination_widget(pagination, '.uploaded', comics )}}
    </div>
    {% for i in images %}
        <dir>
            <a href="{{ url_for('.uploaded', comics=comics, page=pagination.next_num) }}"><img src="{{ url_for('static', filename=i.path) }}" class="img-responsive center-block img-rounded"></a>
        </dir>
        {{i.path}}
    {% endfor %}
{% endblock %}

